@model SkylineAcademy.Models.Administrator

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1>Edit</h1>
<h4>Administrator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdministratorId" />
            <div class="form-group">
                <label asp-for="Afname" class="control-label">First Name</label>
                <input asp-for="Afname" class="form-control" />
                <span asp-validation-for="Afname" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Alname" class="control-label">Last Name</label>
                <input asp-for="Alname" class="form-control" />
                <span asp-validation-for="Alname" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Aaddress" class="control-label">Address</label>
                <input asp-for="Aaddress" class="form-control" />
                <span asp-validation-for="Aaddress" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Aphonenumber" class="control-label">Phone Number</label>
                <input asp-for="Aphonenumber" class="form-control" />
                <span asp-validation-for="Aphonenumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="JobId" class="control-label">Job</label>
                <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Aemail" class="control-label">Email</label>
                <input asp-for="Aemail" class="form-control" />
                <span asp-validation-for="Aemail" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
                 <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
            </div>
            <br />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
