@model SkylineAcademy.Models.Teacher

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1>Edit</h1>

<h4>Teacher</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeacherId" />
            <div class="form-group">
                <label asp-for="Tfname" class="control-label">First Name</label>
                <input asp-for="Tfname" class="form-control" />
                <span asp-validation-for="Tfname" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Tlname" class="control-label">Last Name</label>
                <input asp-for="Tlname" class="form-control" />
                <span asp-validation-for="Tlname" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Taddress" class="control-label">Address</label>
                <input asp-for="Taddress" class="form-control" />
                <span asp-validation-for="Taddress" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Tphonenumber" class="control-label">Phone Number</label>
                <input asp-for="Tphonenumber" class="form-control" />
                <span asp-validation-for="Tphonenumber" class="text-danger"></span>
            </div><br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ishead" /> Head of Faculty
                </label>
            </div><br />
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label">Faculty</label>
                <select asp-for="FacultyId" class="form-control" asp-items="ViewBag.FacultyId"></select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
