@model SkylineAcademy.Models.Enrollement

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1>Edit</h1>

<h4>Enrollement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollementId" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student ID</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label">Schedule ID</label>
                <select asp-for="ScheduleId" class="form-control" asp-items="ViewBag.ScheduleId"></select>
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
            </div><br />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
