@model SkylineAcademy.Models.Job

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1>Edit</h1>

<h4>Job</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobId" />
            <div class="form-group">
                <label asp-for="Jname" class="control-label">Name</label>
                <input asp-for="Jname" class="form-control" />
                <span asp-validation-for="Jname" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Jdescription" class="control-label">Description</label>
                <input asp-for="Jdescription" class="form-control" />
                <span asp-validation-for="Jdescription" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label">Department</label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
