@{
    ViewData["Title"] = "Homepage";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to Skyline Academy</h1>
    <h3> Integrated Timetabling System</h3>
    <br /><br />
</div>
<p>
    Welcome to Skyline Academy, where we offer a range of different classes for young adults who wish to pursue a degree. We take pride in offering a diverse range of faculties to nurture intellectual growth and professional development in our students. This system is our integrated timetabling system where students faculty and staff are able to manage timetables, view and manage grades and more things related to their academic journey. If you are a member of the universty, please login to view your dashboard.
</p>
    
<p>
        Our faculties are design to provide comprehensive education and equip students with skills and knowledge they need to work in their desired field. Below, you will find a list of our faculties that showcases their philosophy and what they are about.
</p>
<br />

<style>
    .row {
        margin-bottom: 20px;
    }

    .row .card {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>

<div class="text-center">
    <style>
        .row {
            margin-bottom: 20px;
        }

            .row .card {
                margin-right: 10px;
                margin-left: 10px;
            }
    </style>

    <div class="row justify-content-center">
        <div class="card mb-2 col-md-5">
            <div class="card-body">
                <h3 class="card-header">Arts</h3><br />
                <div class="image-container" align="center">
                    <img src="/images/foa.jpg" />
                </div><br />
                <p class="card-text">
                    The Faculty of Arts encompasses disciplines such as literature, languages, history, philosophy, music, and visual arts. It focuses on the study and interpretation of human culture, creativity, and expression through various forms of art.
                </p>
            </div>
        </div>

        <div class="card mb-2 col-md-5">
            <div class="card-body">
                <h3 class="card-header">Science</h3><br />
                <div class="image-container" align="center">
                    <img src="/images/fos.jpg" />
                </div><br />
                <p class="card-text">
                    The Faculty of Science encompasses a wide range of scientific disciplines, including biology, chemistry, physics, mathematics, and earth sciences. It emphasizes the systematic study of the natural world, scientific inquiry, experimentation, and the advancement of knowledge in these fields.
                </p>
            </div>
        </div>

        <div class="card mb-2 col-md-5">
            <div class="card-body">
                <h3 class="card-header">Engineering</h3><br />
                <div class="image-container" align="center">
                    <img src="/images/foe.jpg" />
                </div><br />
                <p class="card-text">
                    The Faculty of Engineering offers programs in areas such as civil engineering, mechanical engineering, electrical engineering, computer engineering, and chemical engineering. It focuses on the application of scientific and mathematical principles to design, develop, and innovate technology, infrastructure, and solutions to real-world problems.
                </p>
            </div>
        </div>
        <div class="card mb-2 col-md-5">
            <div class="card-body">
                <h3 class="card-header">Communication</h3><br />
                <div class="image-container" align="center">
                    <img src="/images/focom.jpeg" />
                </div><br />
                <p class="card-text">
                    The Faculty of Communication covers areas such as journalism, public relations, media studies, advertising, and film production. It emphasizes effective communication strategies, media analysis, storytelling, and the ethical use of communication tools to inform, persuade, and engage audiences.
                </p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card mb-2 col-md-5">
            <div class="card-body">
                <h3 class="card-header">Computer Science</h3><br />
                <div class="image-container" align="center">
                    <img src="/images/focs.jpg" />
                </div><br />
                <p class="card-text">
                    The Faculty of Computer Science focuses on the study of computer systems, software development, algorithms, data structures, artificial intelligence, and computer networks. It equips students with technical skills to design, develop, and implement computer-based solutions to address various computational problems.
            </div>
        </div>
    </div>
</div>