@model SkylineAcademy.Models.Prerequisite

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Details</h1>

<div>
    <h4>Prerequisite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Course ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            Prequisite ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrerequisiteId)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.PrerequisiteId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
else if (User.IsInRole("Super Admin"))
{
    <a asp-action="Edit" asp-route-id="@Model?.PrerequisiteId"><button type="button" class="btn btn-dark">Edit</button></a>
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
}
else
{
    <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>

}
