@model SkylineAcademy.Models.Classroom

@{
    ViewData["Title"] = "Edit";
}
<br />
<h1>Edit</h1>

<h4>Classroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassroomId" />
            <div class="form-group">
                <label asp-for="Capacity" class="control-label">Capacity</label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <label asp-for="Facilities" class="control-label"></label>
                <input asp-for="Facilities" class="form-control" />
                <span asp-validation-for="Facilities" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-dark" />
                <a asp-action="Index"><button type="button" class="btn btn-light">Back to List</button></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
